@import "../../scss/App.scss";

.navbarContainer {
  background-color: $navbarBgColor;
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    padding: 2rem;
    &:hover {
      background-color: $bodyBgColor;
      color: $navbarBgColor;
    }
  }
}
